.App {
  text-align: center;
}

.game-title{
  font-size: 70px;
  font-family: 'Amatic SC';

  margin-bottom: 40px;
}

.center-menu{
  margin-top: 50px;
}

.menu-button{
  display:block;
  margin: auto;

  margin-bottom: 20px;
  height: 60px;
  width: 250px;

  color: #FFFFFF;
  background-color: #F49F45;
  font-size: 20px;

  cursor:pointer;

  border-radius: 10px;
  border: none;
  border-bottom: 5px #D9842A solid;
}

.menu-button:hover{
  background-color: #FF8300;
}

.menu-button-holder{
  background-color: #ffecbd;

  border-radius: 30px;
  display: inline-block;

  padding: 30px;

  margin:auto;
}
