.game-title{
  font-size: 70px;
  font-family: 'Amatic SC';

  margin-bottom: 40px;
}

.center-menu{
  margin-top: 50px;
}

.menu-button{
  display:block;
  margin: auto;

  margin-top: 20px;
  height: 60px;
  width: 250px;

  color: #FFFFFF;
  background-color: #FFA000;
  font-size: 20px;

  cursor:pointer;

  border: none;
  border-bottom: 5px #FF6F00 solid;
}

.menu-button:hover{
  background-color: #FF6F00;
}

.menu-button-holder{
  background-color: #FFF8E1;
  display: inline-block;

  padding: 10px 30px 30px 30px;

  margin:auto;

  border: 2px #FFECB3 solid;
}

.create-title{
  font-size: 40px;
  font-family: 'Amatic SC';

  margin:auto;
}

.menu-descriptor{
  font-size: 20px;

  margin-bottom: 10px;
}

.create-menu{
  text-align: left;

  width: 300px;
}

.create-input{
  font-size: 20px;
  width: 300px;
  box-sizing: border-box;

  padding: 7px;
  background-color: #FFFFFF;
}

.menu-setting{
  margin: 30px 0px 30px 0px;
}

.error-list{
  margin: 10px 0px;
}

.error-box{
  background-color: #EF5350;
  padding: 3px;
  border: 2px #E57373 solid;

  color: #FFFFFF;
  font-size: 15px;

  width: 100%;
}
